body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(250deg, #d401d4, #01d4b1);
    height: 100vh;
}
.container {
    text-align: center;
    margin-top: 50px;
}

.roles {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.role-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #8a85ff; /* Morado más claro */
    color: #fff; /* Blanco */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.role-button:hover {
    background-color: #6c63ff; /* Morado */
}

.role-button:focus {
    outline: none;
}

h1 {
    font-size: 24px;
    color: #fff; /* Blanco */
    text-align: center; /* Centrar el texto */
}
button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #8a85ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #8a85ff;
    color: #fff;
    text-decoration: none; /* Eliminar subrayado en los enlaces */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Espacio entre los enlaces */
}