<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/Style/admin.css">
</head>
<body>
    <div class="container">
        <h1>Welcome Admin</h1>
        <a id="createUserBtn" class="button" href="/Templates/crear_usuario.html">Create New User</a>
        <a id="deleteUserBtn" class="button" href="/Templates/borrar_usuario.html" >Delete User</a>
        <a id="viewUsersBtn" class="button" href="/Templates/ver_usuarios.html">View Users</a>
        <a id="logoutBtn" class="button" href="/index.html">Logout </a>
    </div>

    <script src="script.js"></script>
</body>
</html>
