<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Usuarios</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table id="users_table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>RH</th>
                <th>Estado Civil</th>
                <th>Género</th>
            </tr>
        </thead>
        <tbody>
            <!-- Los usuarios se cargarán aquí -->
        </tbody>
    </table>
    <script type="module" src="ver_usuarios.js"></script>
</body>
</html>
